<!-- <p>table works!</p> -->
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Sr.No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of tableArray,index as i">
            <td>{{i+1}}</td>
            <td>{{item.fName}}</td>
            <td>{{item.lName}}</td>
            <td>{{item.email}}</td>
            <td>{{item.contact}}</td>
            <td>
                <!-- <button class="btn btn-primary">Edit</button> -->
                <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
                <mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit" ></mat-icon>

            </td>
            <td>
                <mat-icon aria-hidden="false" aria-label="Example delete icon" fontIcon="delete" (click)=" onDelete(item.id,item.fName)"></mat-icon>
                
            </td>

        </tr>
    </tbody>
</table>
